<section class="page" id="page-2">
	<div class="content">
		<div class="video block">
			<a href="#" class="btn"></a>
			<h4>Как это работает</h4>
		</div>
		<div class="description block">
			<h1 class="title">Только с нами<br>вы сможете знатно<br>угареть!</h1>
			<p class="text">Гляньте наше чумовое видео, если не верите.<br>Если хотите и вам такое же по итогу снимем —<br>будет что вспомнить.</p>
			<div class="links">
				<a href="#" class="earth item">Работаем в любой<br>точке планеты</a>
				<a href="#" class="space item">Но если на Земле<br>всё видели, то no problem...</a>
			</div>
		</div>
	</div>
	
	<nav class="nav-page">
		<div class="block">
			<a href="#page-1" class="btn"></a>
			<a href="#page-2" class="btn active"></a>
			<a href="#page-3" class="btn"></a>
		</div>
	</nav>
</section>