<aside id="aside-left">
	<button class="menu"><span>Меню</span></button>
	<ul class="social">
		<li class="link inst">
			<a href="#" title="Мы в Instagram">Instagram</a>
		</li>
		<li class="link vk">
			<a href="#" title="Мы в Vkontakte">Vkontakte</a>
		</li>
	</ul>
</aside>