<footer id="footer">
	<div class="persone">
		<div class="name block">
			<h3 class="title">Тестовое задание выполнил:</h3>
			<p class="text">Алексей Шолохов</p>
		</div>
		<div class="time-lost block">
			<h3 class="title">Затраченое время:</h3>
			<p class="text">4 дня</p>
		</div>
	</div>


	<div class="reference">
		<h3 class="title">Мини-тз</h3>
		<p>Боковое меню фиксированное. Первые два экрана отображаются слайдами на всю высоту экрана, третий и четвертый экран - уже по всей своей длине. Макет тестовый. Если, как вам кажется, чего-то не хватает — смело добавляйте или изменяйте. <b>Анимации и другие эффекты дико приветствуются.</b></p>
		<p>Если есть какие-либо вопросы — пишите на почту, с которой прислали тестовое.</p>
	</div>
</footer>