<footer id="footer">
	<div class="persone">
		<div class="name block">
			<h3 class="title">Исполнитель:</h3>
			<p class="text">Алексей Шолохов</p>
		</div>
		<div class="time-lost block">
			<h3 class="title">Затраченое время:</h3>
			<p class="text">4 дня</p>
		</div>
	</div>

	<div class="reference">
		<h3 class="title">Подвал страницы</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus perspiciatis officia voluptates error voluptas quae cupiditate, molestiae numquam? Veniam nemo pariatur nihil corrupti velit. Labore in hic nemo commodi voluptates.</p>
	</div>
</footer>