<section class="page" id="page-1">
	<header class="block">
		<a class="logo" href="#"><img src="img/logo.png" alt="Logo"></a>
		<div class="call-back">
			<a class="number" href="tel:+375299876543">+375 29 987 65 43</a>
			<p class="text">Обратный звонок</p>
		</div>
	</header>

	<div class="description block">
		<h1>
			<p class="we-nambawan">Мы в Nambawan Trawel</p>
			<p class="what-doing">Организуем корпоративное
				<br>путешествие для Ваших
				<br>сотрудников и клиентов
			</p>
		</h1>
	</div>

	<ul class="services block">
		<li class="item">Повышаем лояльность<br>сотрудников</li>
		<li class="item">Увеличиваем мотивацию<br>сотрудников</li>
		<li class="item">Улучшаем имидж<br>компании</li>
	</ul>

	<a href="#page-2" class="btn"><span class="text">Мы в этом шарим!</span>
	</a>
</section>