<section id="page-3">
	<h1 class="title">Как это было</h1>
	<div class="content">
		<article class="climbing block">
			<div class="gallery">
				<div class="slider">
					<div class="counter">
						<span class="wrapper">
							<span class="current">01</span> / <span class="total">04</span>
						</span>
					</div>
					<div class="viewer">
						<figure class="pic">
							<div class="img" style="background-image: url(img/gallery/trav-001.jpg)"></div>
							<figcaption>Покорили ледяные вершины<br>с командой <span>НВО</span></figcaption>
						</figure>
					</div>
					<h4 class="name">
						<span class="wrapper">Восхождение</span>
					</h4>
					<div class="controls">
						<a href="#" class="prev" title="Назад"></a>
						<a href="#" class="next" title="Вперёд"></a>
					</div>
				</div>
			</div>
			<p class="desc">Находим<span>сильные стороны</span>вашей команды!</p>
		</article>

		
		<article class="diving block">
			<p class="desc">Создаём самую<br>настоящую<span>dream team!</span></p>
			<div class="gallery">
				<div class="slider">
					<div class="counter">
						<span class="wrapper">
							<span class="current">01</span> / <span class="total">04</span>
						</span>
					</div>
					<div class="viewer">
						<figure class="pic">
							<div class="img" style="background-image: url(img/gallery/sea-001.jpg)"></div>
							<figcaption>Покорили ледяные вершины<br>с командой <span>НВО</span></figcaption>
						</figure>
					</div>
					<h4 class="name">
						<span class="wrapper">Погружение</span>
					</h4>
					<div class="controls">
						<a href="#" class="prev" title="Назад"></a>
						<a href="#" class="next" title="Вперёд"></a>
					</div>
				</div>
			</div>
		</article>
	</div>
	
	<nav class="nav-page">
		<div class="block">
			<a href="#page-1" class="btn"></a>
			<a href="#page-2" class="btn"></a>
			<a href="#page-3" class="btn active"></a>
		</div>
	</nav>
</section>