// out: null

@import 'prop';

#move-to-top {
	opacity: 0;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	padding: 0;
	line-height: 1;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	outline: none;
	border: none;
	cursor: pointer;
	background: white;
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
	pointer-events: none;
	transition: opacity 0.3s, transform 0.2s;
	transform: translateY(1rem);

	&:before {
		position: relative;
		display: inline-block;
		top: 0.25rem;
		content: '';
		width: 0.75rem;
		height: 0.75rem;
		border-top: 0.25rem solid grey;
		border-right: 0.25rem solid gray;
		transform: rotate(-45deg);
	}

	&.visible {
		opacity: 0.8;
		transform: translateY(0);
		pointer-events: auto;
	}
}