// out: null

@import 'prop';

#preloader {
	z-index: 999;
	opacity: 1;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6vh;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.5);
	background: darken(@themeColor, 30%);
	transition: 1s opacity;

	&.end {
		opacity: 0;
		pointer-events: none;
	}
}